body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB; /* Cor de fundo azul claro */
}

.container {
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    transition: opacity 0.5s;
}